@import 'variables'
@import 'mixins'

.sign-component
  position: fixed
  width: 100vw
  height: 100vh
  z-index: 1001
  background: rgba(0, 0, 0, 0.5)
  top: 0
  left: 0
  display: none
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 20px 0

  &__inner
    background: #fff
    min-height: 500px
    min-width: 400px
    width: 50%
    position: relative
    overflow: hidden
    padding: 20px
    overflow-y: auto

  &__tabs
    background-color: inherit
    display: flex

    justify-content: center
    cursor: pointer
    padding: 14px 16px
    transition: 0.3s
    font-size: 17px

  &__tab-content
    display: flex
    width: 100%
    justify-content: center
    align-items: center
    padding: 10px 20px

.tab-button
  padding: 10px
  width: 100px
  text-align: center

.form-wrapper
  display: none

.active
  background-color: $violet-color
  color: #fff

.sign-form
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  min-height: 200px

  &__input
    display: block
    padding: 10px
    border: 2px solid #ddd
    border-radius: 3px
    margin-bottom: 20px
    width: 250px

  &__button
    border: none
    outline: none
    cursor: pointer
    border-radius: 5px
    padding: 5px 20px
    background-color: $violet-color
    color: $light-text

  &__button:hover
    background-color: darken($violet-color, 5%)

  &__photo-wrapper
    width: 250px
    height: 250px
    border: 2px solid #ccc

  &__img-preview
    width: 250px
    height: 250px
    object-fit: cover

.form-inner-container
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: center

.active-form
  display: flex

.inputs-container
  padding: 30px 20px 20px 20px

.sign-up-social
  height: 40px
  width: 40px
  object-fit: cover
  padding: 0 10px 20px 10px
  cursor: pointer

.buttons-container
  display: flex
  flex-direction: column
  align-items: center

.close
  position: absolute
  right: 10px
  top: 10px
  width: 32px
  height: 32px
  opacity: 0.3
  &:hover
    opacity: 1
    cursor: pointer
  &:before, &:after
    position: absolute
    left: 15px
    content: ' '
    height: 33px
    width: 2px
    background-color: #333
  &:before
    transform: rotate(45deg)
  &:after
    transform: rotate(-45deg)