//mixin login(params)
.sign-component(tabindex='0')
    .sign-component__inner
        .sign-component__tabs
            .tab-button.active Sign In
            .tab-button Sign Up
        .sign-component__tab-content
            .form-wrapper.active-form
                form.sign-form.singin-form
                    input#signInEmail.sign-form__input(type='email' placeholder='Enter correct email address' required aria-required='true')
                    input#signInPassword.sign-form__input(type='password' placeholder='Enter password' required aria-required='true')
                    input#signInSubmit.sign-form__button(type='submit' value='Sign In' role='button')
            .form-wrapper
                form.sign-form.signup-form
                    input#signUpEmail.sign-form__input(type='email' placeholder='E-mail' required aria-required='true' )
                    input#signUpPassword.sign-form__input(type='password' placeholder='Enter not less than 6 symbols' required aria-required='true' )
                    input#signUpRePassword.sign-form__input(type='password' placeholder='Repeat entered password' required aria-required='true')
                    input#signUpImg.sign-form__input(type='file' accept="image/*" placeholder='Upload your photo' required aria-required='true')
                    button#singUpWithFb(type='button') Facebook
                    button#singUpWithGoogle(type='button') Google
                    input#signUpSubmit.sign-form__button(type='submit' value='Sign Up' role='button')
                div.sign-form__photo-wrapper
                    img#photo-preview.sign-form__img-preview