//include ./components/login/login

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title Immutable first project
        link(href='https://fonts.googleapis.com/css?family=Open+Sans&display=swap' rel='stylesheet')
    body
        header.header
            nav.header__navigation(role="navigation")
                ul.header__list
                    each value, index in [{text: 'App features', link: '#app-features'}, {text: 'App works', link: '#app-works'},{text: 'About us', link: '#about-us'}]
                        li.header__list-item(aria-setsize='3' aria-posinset=index + 1)
                            a(class="header__nav-link" href=value.link)=value.text
                //li.header_list-item

            .user-info
                .user-info__sign-in
                    img(class="user-info__avatar")(src='./assets/128.jpg' alt="user avatar")
                button.user-info__btn Logout

        main(role='main')
            section.first-view(tabindex='0')
                .first-view__content
                    h1.light-text.white(role='heading' aria-level='1') Lorem ipsum dolor sit amet, consectetur
                    img.iphone-6-mockup.col-lg-5(src='./assets/iphone_6_mockup.png' alt='iphone')
                    .first-view__services
                        picture
                            source(media="(max-width: 799px)" srcset="./assets/available-on-the-app-store-badge.png")
                            source(media="(min-width: 800px)" srcset="./assets/available-on-the-app-store-badge.png")
                            img.services-logo(src="./assets/googleplay.png" alt="Chris standing up holding his daughter Elva")
                        picture
                            source(media="(max-width: 799px)" srcset="./assets/googleplay-320.png")
                            source(media="(min-width: 800px)" srcset="./assets/googleplay.png")
                            img.services-logo(src="./assets/googleplay.png" alt="Chris standing up holding his daughter Elva")

                        //img.services-logo(srcset="./assets/available-on-the-app-store-badge.png 320w, ./assets/googleplay-480.png 480w, ./assets/googleplay-800.png 800w"
                        //    sizes="(max-width: 320px) 280px, (max-width: 480px) 440px, 800px"
                        //    src='./assets/googleplay.png'
                        //    alt='Playmarket')
                        //img.services-logo(src='./assets/available-on-the-app-store-badge.png' alt='AppStore')
            .container
                section.app-features.line-after.lazy-load(id="app-features" tabindex='0')
                    .app-features__inner
                        .app-feature
                            img.app-feature__image(src='./assets/cloud.png' alt='cloud icon')
                            h3.app-feature__header(role='heading' aria-level='2')
                                | Cloud sync
                            p.app-feature__description
                                | Etiam rhoncus, metus vitae volutpat porta, risus dolor mollis nunc, sit amet maximus nunc
                                | turpis vitae elit. Cras ac efficitur massa.
                        .app-feature.app-feature--center
                            img.app-feature__image(src='./assets/bell.png' alt='cloud icon')
                            h3.app-feature__header(role='heading' aria-level='3')
                                | Notifications
                            p.app-feature__description
                                | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                | Quisque augue odio, congue id turpis suscipit, mattis lacinia nulla.
                        .app-feature
                            img.app-feature__image(src='./assets/diamount.png' alt='cloud icon')
                            h3.app-feature__header(role='heading' aria-level='3')
                                | Beautiful design
                            p.app-feature__description
                                | Vivamus vitae lectus sem. Vestibulum nec consequat lacus, nec fringilla urna.
                                | Phasellus non bibendum leo. Mauris suscipit nisi ac commodo bibendum.

                section.app-works.line-after.lazy-load(id='app-works' tabindex='0')
                    .app-works__item-container
                        img.app-works__image(src='./assets/hand-template.png' alt='iphone image with bridge picture')
                        .app-works__image-wrap
                            h2.app-works__header(role='heading' aria-level='2')
                                | How our app works
                            p.app-works__description
                                | Lorem ipsum dolor sit samet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                | ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                | laboris nisi ut aliquip.
                            .app-function
                                .app-function__icon
                                    img.app-function__image(src='./assets/create-icon.png' alt='plus in circle')
                                .app-function__text
                                    h4.app-function__header(role='heading' aria-level='3')
                                        | Create
                                    p.app-function__description
                                        | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                        | Curae; Quisque augue odio, congue id turpis suscipit, mattis lacinia nulla.
                            .app-function
                                .app-function__icon
                                    img.app-function__image(src='./assets/share-icon.png' alt='share icon')
                                .app-function__text
                                    h4.app-function__header(role='heading' aria-level='3')
                                        | Share
                                    p.app-function__description
                                        | Vivamus vitae lectus sem. Vestibulum nec consequat lacus, nec fringilla urna.
                                        | Phasellus non bibendum leo. Mauris suscipit nisi ac commodo bibendum.


            section.wrote-about-us.line-after.lazy-load(id='about-us' tabindex='0')
                h1.wrote-about-us__title(role='heading' aria-level='2') Wrote about us
                .wrote-about-us__images-container(role="img" aria-label="Logotypes of world famous companies")
                    img.wrote-about-us__img(src='./assets/Forbes_logo.svg.png' alt='Forbes international logotype')
                    img.wrote-about-us__img(src='./assets/the-new-york-times-logo-vert.png' alt='')
                    img.wrote-about-us__img(src='./assets/2000px-The_Wall_Street_Journal_Logo.svg.png' alt='')
                    img.wrote-about-us__img(src='./assets/Mashable-Logo.png' alt='')
            footer.footer.lazy-load(tabindex='0')
                .footer__item.footer__contats
                    h3.footer__contacts-title Contact
                    .footer__contacts-items
                        p.footer__contacts-item 1600 Amphitheatre Pkwy, Mountain View, United States
                        p.footer__contacts-item +1 650-253-0000
                        p.footer__contacts-item google@google.com
                .footer__item.footer__social
                    .footer__social-row
                        a(href='#')
                            img.footer__social-img(src='./assets/iconmonstr-facebook-3-icon-48.png' alt='Author public facebook account')
                        a(href='#')
                            img.footer__social-img(src='./assets/iconmonstr-youtube-3-icon-48.png' alt='Author public youtube chanel')
                    .footer__social-row
                        a(href='#')
                            img.footer__social-img(src='./assets/iconmonstr-twitter-3-icon-48.png' alt='Author public twitter account')
                        a(href='#')
                            img.footer__social-img(src='./assets/iconmonstr-google-plus-3-icon-48.png' alt='Author public email address')
                .footer__item.newsletter
                    h3.newsletter__title Newsletter
                    .newsletter__form(role='form')
                        input.newsletter__email-input(type='text' placeholder='Enter your email address, please')
                        input.newsletter__button-submit(type='submit' value='Subscribe')
                .col-12.text-center.mb-1 Copyright &copy; 2010 Name | Design by Jakub Chynoradsk&yacute;
            .modal-window(role='alert')
                .modal-window__content
                    p.modal-window__message
                    button.close-modal ok
            div#popup
